.showDataInGraph {
    display: flex;
    padding: 3%;
    color: white;
    margin: 2% 1%;
    max-width: 132vh;
    background-color: black;
    border-radius: 30px;
}

.cryptocurrencySection {
    margin: 2% 1%;
    width: 62vh;
}

.headerCryptocurrency{
    max-height: 30vh;
}

.showCryptocurrencies {
    overflow: auto;
    max-height: 71vh;
}

.cryptocurrencySection h1 {
    margin-bottom: 18px;
}