.chartContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chartContainer div {
    font-size: 20px;
}

canvas {
    max-width: 100%;
    max-height: 80%;
}

.additionalData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 30PX;
}

.additionalData .cryptocurrencyName {
    padding: 11px 29px;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    background-color: rgba(188, 255, 0);
    width: 100px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

.cryptocurrencyPrice {
    text-align: center;
}