* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#root {
    display: flex;
    margin: 0 10px;
    height: 100vh;
}

.showDataInGraph {
    padding: 3%;
    display: flex;
    color: white;
    margin: 2% 1%;
    max-width: 62%;
    background-color: black;
    border-radius: 30px;
}

.cryptocurrencySection {
    width: 40%;
    margin: 2%;
}

.cryptocurrencySection h1 {
    margin-bottom: 35px;
}

input {
    margin-bottom: 18px;
    border-radius: 20px;
    background-color: #c4c4c431;
    padding: 15px;
    border: none;
    width: 97.5%;
    background-image: url('./img/icons.png');
    background-repeat: no-repeat;
    background-position: right 18px center;
    background-size: 15px;
    outline: none;
}

.showCryptocurrencies {
    margin: 4% 0 0 0;
    overflow: auto;
    max-height: 75.3vh;
}

.cryptocurrencyCard {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 30px;
    cursor: pointer;
}

.cryptocurrencyImage {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
}

.cryptocurrencyInformation {
    flex: 1;
}

.cryptocurrencyName {
    font-size: 16px;
    margin-bottom: 5px;
}

.cryptocurrencySymbole {
    font-size: 14px;
    color: #888;
}