* {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    border-radius: 20px;
    background-color: #c4c4c431;
    padding: 15px;
    border: none;
    width: 97.5%;
    background-image: url('./img/icons.png');
    background-repeat: no-repeat;
    background-position: right 18px center;
    background-size: 15px;
    outline: none;
}


.card {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 3px;
}

.imageOfCryptocurrency {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.cryptocurrencyInformation {
    flex: 1;
}

.cryptocurrencyName {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.cryptocurrencySymbole {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
}